[submodule "Training/IsaacLab"]
	path = Training/IsaacLab
	url = https://github.com/isaac-sim/IsaacLab.git
	branch = release/2.3.0
	ignore = dirty
[submodule "Deployment/Ros2/src/rosboard"]
	path = Deployment/Ros2/src/rosboard
	url = https://github.com/dheera/rosboard.git
